# Basics

## Print Statements

- end
- sep

In [2]:
print("Hello World")
print(1)
print(1.5)

Hello World
1
1.5

In [3]:
# Demo Code

## Variables

- Naming Variable
- Restrictions in naming variables
- Variable datatypes
- Type Casting

In [4]:
dummy = 5

## Mathematical Operators

- Addition: +
- Subraction: -
- Multiplication: *
- Division: /
- Reminder: %
- Power: **
- Number Comma: _

In [6]:
2**5

32

In [7]:
5/2

2.5

In [8]:
5//2

2

## Strings

- ' ', "", ''' ''', """ """
- Concat String: +
- Replicating String: *
- .format()
- .split()
- R string
- F string
- F string =
- \n, \t, \r
- %d, %f, %s
- Indexing String
- Slicing String

In [28]:
string = "hello"
# print(string, end="\t")
string = 'hello'
# print(string)
string = """
hi

welcome to the workshop
"""
# print(string)

a = 5
b = 2

# print("a is {1} and b is {0}".format(a, b))
# print(f"{a=} and {b=}")


# from time import sleep

# for i in range(10):
#     print(i, end="\r")
#     sleep(2)
    
string = "Workshop"
string[4:]

'shop'

## Conditional Operators
- if
- elif
- else

In [29]:
a = 5
b = 2

if a < b:
    print("a < b")
elif a > b:
    print("a > b")
else:
    print("a == b")

a > b

## Boolean

- True, False
- and, or

In [36]:
import os

if not os.path.isdir("/Users/alvynabranches/aitd_workshop/src/img"):
    os.mkdir("/Users/alvynabranches/aitd_workshop/src/img")

# Data Structure in Python

## Tuples

- Defining Tuples
- Immutability of Tuples
- Nested Tuples

In [44]:
a = tuple()
b = (1, 4, 28)
c = (1,)
nest = ((1, 4, 28), (1,))
print(type(a))
print(type(b))
print(type(c))
# b[0] = 4
print(nest)

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
((1, 4, 28), (1,))

## List

- Defining List
- Nested List
- Tuples inside List
- Indexing List
- Slicing List
- Replication
- Reverse
- len()

In [68]:
l = [5, 4385, 347]
nest_list = [[5, 4385, 347], [1, 4385, 347]]
l[0] = 1
print(l)
print(nest_list)
print(type(nest_list))
nest_list_t = [(5, 4385, 347), (1, 4385, 347)]
print(nest_list_t)
print(type(nest_list_t))
nest_list_t[:][0:2]
l.append(60)
l.insert(1, 3)
print(l)
l * 2

[1, 4385, 347]
[[5, 4385, 347], [1, 4385, 347]]
<class 'list'>
[(5, 4385, 347), (1, 4385, 347)]
<class 'list'>
[1, 3, 4385, 347, 60]

[1, 3, 4385, 347, 60, 1, 3, 4385, 347, 60]

In [69]:
for i in range(1, 6):
    print("*"*i)

*
**
***
****
*****

In [67]:
first = [7, 9, 3]
second = first.copy()
second.append(4)
print(first)
print(len(first))
first.extend(second)
print(first)

[7, 9, 3]
3
[7, 9, 3, 7, 9, 3, 4]

## Set

- Unordered collection of unique elements

In [57]:
this_set = {1, 3, 5,5, 7, 9,9,1, 7, 1.9, "s"}
this_set

TypeError: unhashable type: 'list'

In [60]:
this_set.add(10)
this_set

{1, 1.9, 10, 3, 5, 7, 9, 's'}

## Dictonaries

- Key, Value
- Indexing
- Iterating
- Nested Dictonaries
- Tuples inside Dictonary
- List inside Dictonary
- Set inside Dictonary
- Restrictions on key naming

In [71]:
names_of_city = {"Goa": "Panjim", "Rajasthan": "Jaipur"}
names_of_city

names_of_city["Goa"]

'Panjim'

## Reading from console

- Read strings
- Read intergers
- Read float
- Read lists

In [77]:
inp = input("Enter a value")

Enter a value5,6,7,8

In [81]:
inp.split(",")

['5', '6', '7', '8']

In [80]:
float(inp)

ValueError: could not convert string to float: '5,6,7,8'

# Indentation

- Importance
- Need of Indentation

# Loops

## For Loop

- Syntax
- Conditionals inside for loops
- Multiple for loops
- range()
- iterating python datatypes
- enumerate()
- zip()

In [86]:
for i in range(0, 101, 10):
    print(i)

0
10
20
30
40
50
60
70
80
90
100

In [88]:
inp

'5,6,7,8'

In [89]:
values = inp.split(",")
for i in range(len(values)):
    values[i] = int(values[i])

In [90]:
values

[5, 6, 7, 8]

In [91]:
for value in values:
    print(value)

5
6
7
8

## While Loop

In [92]:
a = 5
i = 0

while i < a:
    print(i)
    i += 1

0
1
2
3
4

## Exception Handling

- try
- except
- finally

In [101]:
try:
#     this_set.add([])
    3/0
except ZeroDivisionError as err:
    print(err, "zero")
except Exception as e:
    print(e, "general")
finally:
    print("Done")

division by zero zero
Done

In [102]:
def f(a, b=5):
    print(a, b)

In [105]:
f(1, 10)

1 10

In [106]:
def add(a, b=1):
    return a+b

In [107]:
add(5, 7)

12

In [108]:
add = lambda x, y: x+y

In [109]:
add(3, 5)

8

## Classes and Objects

- Defining classes
- `__init__()`
- `__str__()`
- `__call__()`

In [125]:
class Rectangle:
    def __init__(self, width=5, breath=7):
        self.width = width
        self.breath = breath
        print(width, breath)
        
    def __call__(self):
        print(self.width, self.breath)
        
    def __str__(self):
        return "MY Rectangle"

In [126]:
r = Rectangle()
# r.get_area()
r

5 7

## File Handling

- Reading a file
- Writing a file
- Appending to a file

In [130]:
f = open("new.txt", 'w')

string

'Workshop'

In [131]:
f.write(string)

8

In [132]:
f.write("\nHi")

3

In [140]:
f.close()

In [141]:
with open("new.txt", 'w') as f_:
    f_.write(string)
    f_.write("\nHi")
    f_.close()

In [142]:
f_.closed

True

In [139]:
f.closed

True